<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manuscript Checker</title>
  </head>
  <body>
    <h1>MPLB: Checking Manuscript's Relevance</h1>
    <form action="/" method="post">
      <label for="title">Paper Title:</label><br />
      <input type="text" id="title" name="title" required /><br />
      <label for="abstract">Abstract:</label><br />
      <textarea
        id="abstract"
        name="abstract"
        rows="10"
        cols="50"
        required
      ></textarea
      ><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
